[package]
name = "rig-core"
version = "0.11.1"
edition = "2021"
license = "MIT"
readme = "README.md"
description = "An opinionated library for building LLM powered applications."
repository = "https://github.com/0xPlaygrounds/rig"

[lib]
name = "rig"
path = "src/lib.rs"
doctest = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
reqwest = { version = "0.12.12", default-features = false, features = [
    "json",
    "stream",
    "multipart",
] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
tracing = "0.1.40"
futures = "0.3.29"
ordered-float = "4.2.0"
schemars = "0.8.16"
thiserror = "1.0.61"
rig-derive = { version = "0.1.1", path = "./rig-core-derive", optional = true }
glob = "0.3.1"
lopdf = { version = "0.35.0", optional = true }
epub = { version = "2.1.2", optional = true }
quick-xml = { version = "0.37.2", optional = true }
rayon = { version = "1.10.0", optional = true }
worker = { version = "0.5", optional = true }
mcp-core = { version = "0.1.42", optional = true }
bytes = "1.9.0"
async-stream = "0.3.6"
mime_guess = { version = "2.0.5" }
base64 = { version = "0.22.1" }


[dev-dependencies]
anyhow = "1.0.75"
assert_fs = "1.1.2"
tokio = { version = "1.34.0", features = ["full"] }
tracing-subscriber = "0.3.18"
tokio-test = "0.4.4"
serde_path_to_error = "0.1.16"
base64 = "0.22.1"
mcp-core = { version = "0.1.42", features = ["sse"] }
mcp-core-macros = { version = "0.1.1" }

[features]
default = ["reqwest/default"]
all = ["derive", "pdf", "rayon"]
audio = []
image = []
derive = ["dep:rig-derive"]
pdf = ["dep:lopdf"]
epub = ["dep:epub", "dep:quick-xml"]
rayon = ["dep:rayon"]
worker = ["dep:worker"]
mcp = ["dep:mcp-core"]
socks = ["reqwest/socks"]
# Replace "default-tls" with "rustls-tls" in "reqwest/default"
reqwest-rustls = [
    "reqwest/rustls-tls",
    "reqwest/charset",
    "reqwest/http2",
    "reqwest/macos-system-configuration",
]

[[test]]
name = "embed_macro"
required-features = ["derive"]

[[example]]
name = "rag"
required-features = ["derive"]

[[example]]
name = "rag_ollama"
required-features = ["derive"]

[[example]]
name = "vector_search"
required-features = ["derive"]

[[example]]
name = "vector_search_cohere"
required-features = ["derive"]

[[example]]
name = "gemini_embeddings"
required-features = ["derive"]

[[example]]
name = "xai_embeddings"
required-features = ["derive"]

[[example]]
name = "agent_with_moonshot"
required-features = ["derive"]

[[example]]
name = "pdf_agent"
required-features = ["derive", "pdf"]

[[example]]
name = "agent_with_together"
required-features = ["derive"]

[[example]]
name = "together_embeddings"
required-features = ["derive"]

[[example]]
name = "mcp_tool"
required-features = ["mcp"]

[[example]]
name = "openai_audio_generation"
required-features = ["audio"]

[[example]]
name = "hyperbolic_audio_generation"
required-features = ["audio"]
