name: "Build & Release"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-ci:
    permissions:
        checks: write
    uses: ./.github/workflows/ci.yaml

  release-plz:
    name: Release-plz
    needs: run-ci
    runs-on: ubuntu-latest
    permissions:
        pull-requests: write
        contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      # Required to compile rig-lancedb
      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Run release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}